STRINGTABLE
LANGUAGE LANG_GREEK, SUBLANG_DEFAULT
{
0, "Greek"
1, "Desktop Manager"
2, "Ρυθμίσεις:"
3, "&Show wallpaper"
4, "Wallpaper enabled"
5, "Wallpaper disabled"
6, "&Αυτόματη έναρξη με τα Windows"
7, "&Enable animations"
8, "&Εξατομίκευση"
9, "&Έξοδος"
10, "Έκδοση"
11, "&Ιστοσελίδα Desktop Manager"
12, "https://dmanager.tarasovlabs.com"

21, "UI effects"
22, "Listbox smooth scrolling"

40, "https://dmanager.tarasovlabs.com/update.uurl"
41, "Αυτόματες &ενημερώσεις"
42, "&Ενεργοποίηση αυτόματων ενημερώσεων"
43, "&Έλεγχος για ενημερώσεις"
44, "Μια νέα έκδοση του %0:s είναι διαθέσιμη\nΚάντε κλικ εδώ για περισσότερες λεπτομέρειες"
45, "Update successful\nThe new version is %0:s"
46, "Η ενημέρωση απέτυχε\nΚάντε κλικ εδώ για να επισκεφθείτε την ιστοσελίδα"

70, "Στυλ &εικονιδίων"
71, "Windows &7"
72, "Windows &8"
73, "Windows &10"
74, "&Προεπιλεγμένο"
75, "&Windows 11"

91, "Disabled"

130, "Disable popup window's bo&rder"

150, "&Γλώσσα"
151, "&Προεπιλεγμένη"

224, "&Άδεια χρήσης"
}
